html{
    height: 100%;
    width: 100%;
}
.header{
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    text-align: center;
}
.header a{
    color: orangered;
}
body{
    background: linear-gradient(#6833FF,#660000);
    font-family: sans-serif;
}
.container{
    color: orangered;
    position: absolute;
    width:500px;
    top:40%;
    left:50%;
    margin-left: -250px;
    box-sizing: border-box;
    background-color: #4B0082;
    border-radius: 10px;
    padding: 20px;
}

.container a{
    color:#ff0000 ; 
}

label{
    display: block;
    width: 150px;
    float: left;
}